h1 {
	color: #1D0E58;
	font-size: 50px;
	font-family: Times;, sans-serif;
}
body {
	background-color: #A4B7AA;
	text-align: center;
}
a {
	text-decoration: none;
	color: darkred;
	font-family: arial;
}
a:hover {
	text-decoration: underline;
	background-color: darkred;
	color: #A4B7AA;
}
p {
	font-family: font-family: 'Raleway', sans-serif;
	color: #2D2840;
	letter-spacing: 0px;
	text-align: left;
	margin-left:  50px;
	margin-right: 50px;
}

.firstparagraph {
	display: flex;
	align-items: center;
}

.secondparagraph {
	display: flex;
	align-items: center;
	text-align: right;
}

.thirdparagraph {
	display: flex;
	align-items: center;
}

.article_picture {
	border-radius: 10px;
}

#final {
	text-align: center;
}

#logo {
	width: 50px;
	height: 50px;
	border-radius: 4px;
}

#chapô {
	text-align: center;
	box-shadow: 2px 2px 3px black;
	background-color: #1D0E58;
	color: #A4B7AA;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}

	.article_picture {
	border-radius: 10px;
	width: 400px;
}

}

@media (max-width: 540px) {
	.container {
		width: 500px;
		font-size: 20px;
	}
	.chapô {
		font-size: 10px;
	}

	#final {
		font-size: 20px;
	}

	h1 {
		font-size: 40px;
	}

	.article_picture {
		border-radius: 10px;
		width: 100px;
	}
		a {
		text-decoration: none;
		color: darkred;
		font-family: arial;
		font-size: 20px;
	}
		a:hover {
		text-decoration: underline;
		background-color: darkred;
		color: white;
		font-size: 20px;
	}
		p {
		font-family: arial;
		color: #2D2840;
		letter-spacing: 0px;
		text-align: left;
		margin-left:  50px;
		margin-right: 50px;
		font-size: 20px;
	}
	.small_text {
		font-size: 10px;
	}

}